header {
  padding-top: 0px;
}

ul {
  width: 100%;
}

.nav {
  display: flex;
  background-color: rgb(51, 48, 216);
  height: 64px;
  width: 100%;
  position: fixed;
}

.nav-items {
  list-style: none;
  white-space: nowrap;
  display: flex;
}

.tentit {
  padding-top: 80px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

.kysymys {
  padding: 20px;
  border: 1px solid rgba(177, 175, 175, 0.308);
  border-radius: 5px;
}

.vastaus {
  padding-bottom: 20px;
}

.poistu {
  margin-left: auto;
  margin-right: 2vw;
}
